.bienvenue{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.img_profile{
    border-radius: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 10rem;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.nom_annonces{
    font-family: Mulish, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem; 
    padding-bottom: 2rem;
    background-color: rgba(204, 204, 204, 0.603);
    color: white;

  }

  .historique{
    color:black;
  }

  .info_perso{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .a_footer{
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: blue;
    }
    footer{
        background-color: black;
    }
    @media only screen and (max-width : 960px) {           
        .a_footer{
        margin-left: 25%;
        text-align: center;
        font-size: 95%;
    }
    }
    @media only screen and (max-width : 320px) {           
        .a_footer{
        margin-left: 25%;
        text-align: center;
        font-size: 80%;
    }
    }