body {
    font-family: "Mulish", sans-serif;
    background-color: rgba(204, 204, 204, 0.815); ;
    margin: 0;
    padding: 0;
  }
  
  /** NAVBAR **/
  
  .navbar-custom {
    background-color: rgba(255, 255, 255, 0.879) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    width: 100%; /* Prend toute la largeur */
    z-index: 1000; /* S'assure que la navbar est au-dessus du contenu */
  }
  
  .nav-link {
    font-family: "Raleway", serif;
    color: black;
  }
  
  .nav-link:hover {
    font-weight: 700;
    color: black;
  }
  
  .actioncolor:hover {
    background-color: rgb(124, 17, 17);
  }
  
  .horrorcolor:hover {
    background-color: rgb(255, 165, 0);
  }
  
  .comediecolor:hover {
    background-color: yellow;
    color: black !important;
  }
  
  .scificolor:hover {
    background-color: #02ec8e;
    color: black !important;
  }
  
  .dramacolor:hover {
    background-color: rgb(70, 159, 14);
  }
  
  .romancecolor:hover {
    background-color: rgb(39, 76, 200);
  }
  
  /** BOUTON CONNEXION **/
  .btncnx {
    font-family: "Raleway", serif;
    background-color: white;
    border-width: 5px;
    border-color: rgba(70, 159, 14, 0.893);
    color: rgba(70, 159, 14, 5);
    font-weight: 700;
  }
  
  .btncnx:hover {
    background-color: rgb(70, 159, 14);
    border-color: rgb(70, 159, 14);
  }
  
  /** FIN BOUTON CONNEXION ***/

  /*==================================Les annonces====================================*/

  .image_annonce_1{
    display: flex;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .nom_annonces{
    font-family: Mulish, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem; 
    padding-bottom: 2rem;
    background-color: rgba(204, 204, 204, 0.603);
    color: white;

  }

/*==================================Les descriptions====================================*/

  .description{
    font-family: Raleway, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color:white;
  }

  /*==================================Les titres====================================*/
  h1{
    font-family: Mulish, sans-serif;
    font-size: 3rem;
    text-align: center;
    color:white;
  }

  .titre{
    font-family: Mulish, sans-serif;
    font-size: 3rem;
    text-align: center;
    color:white;
  }


  .titre_section{
    font-family: Raleway, sans-serif;
    text-align: center;
    font-size: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: rgba(204, 204, 204, 0.603)!important;
    color:black;
    margin: 0;
  }

  .arriere_plan{
    background-image: url(../img/image_fond_vetement.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    height: 100vh;
    
  }

  .email{
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .centerBtn {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .caseEmail{
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    margin: auto;
    width:20rem;
  }

  .btnenvoyer{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    margin: auto;
  }

  .font_noir{
    background-color: rgba(0, 0, 0, 0.6);
  }
/*==============================================================FOOTER============================================================*/
.a_footer{
text-align: center;
text-decoration: none;
font-size: 2rem;
margin-right: 2rem;
margin-left: 2rem;
color: blue;
}
footer{
    background-color: black;
}
@media only screen and (max-width : 960px) {           
    .a_footer{
    margin-left: 25%;
    text-align: center;
    font-size: 95%;
}
}
@media only screen and (max-width : 320px) {           
    .a_footer{
    margin-left: 25%;
    text-align: center;
    font-size: 80%;
}
}